.paper {
    outline-style: solid;
    outline-color: #CFD8DC;
    outline-width: 1;
    width:500px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.item {
    border: solid;
    border-color: #CFD8DC;
    border-width: 0 0 2px;
    background-color: rgba(233, 233, 233, 0);
}
